h1 {
  color: aqua;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

p {
  color: rgba(123, 255, 255, 0.5);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
